
<div class="vw-100 vh-100 d-flex align-items-center justify-content-center border">
    <div class="login-container col-10 col-sm-8 col-md-6 col-lg-4 p-3">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="was-validated">
            <div class="card-text alert alert-danger" *ngIf="errorMessages.length > 0" id="error" role="alert">
                <div *ngFor="let error of errorMessages">
                    <small>{{ error.msg }}</small>
                </div>
            </div>
            <div class="card-text alert alert-success" *ngIf="successMsg != ''" id="error" role="alert">
                <small>{{ successMsg }} <a [routerLink]="['/login']">Logueate Aquí</a> </small>
            </div>

            <h4 class="text-center">Login</h4>
            <div class="p-3">
                <div class="card-text alert alert-danger" *ngIf="false" id="error" role="alert">
                    Esto es un error
                </div>
                <label for="email" class="col-md-4 col-form-label text-md-end">Email</label>
                <input id="email" type="email" class="form-control" name="email" #email="ngModel"
                    [(ngModel)]="user.email" required autocomplete="email" autofocus>

                <span *ngIf="!email.valid && email.touched" class="invalid-feedback" role="alert">
                    <strong>El nickname no es válido.</strong>
                </span>
            </div>
            <div class="p-3">
                <label for="password" class="col-md-4 col-form-label text-md-end">Contraseña</label>
                <input minlength="8" id="password" type="password" class="form-control" name="password"
                    #password="ngModel" [(ngModel)]="user.password" required autocomplete="password" autofocus>

                <span *ngIf="!email.valid && email.touched" class="invalid-feedback" role="alert">
                    <strong>El password debe ser de 8 caracteres.</strong>
                </span>
            </div>
            <div class="p-3 d-grid gap-2">
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block">
                    Iniciar Sesión
                </button>
                <div class="text-center">
                    <a class="btn btn-link" href="">
                        Olvidaste tu contraseña?
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
