<div class="container-fluid pt-5">
    <div class="main mx-auto col-lg-10">
        <div class="card contenedor">
            <div class="card-header bg-default d-md-flex justify-content-between ">
                <h5 class="font-weight-bold centers-title">{{ page_title }}</h5>
                <input type="text" name="buscar" class="search-query form-control col-lg-3 col-md-4 col-sm-12" placeholder="Buscar..." ng-model="searchQuery">
            </div>
            <div class="card-body">
                <div class="row d-flex flex-column flex-sm-row align-items-stretch align-items-sm-center">
                </div>
            </div>
        </div>
    </div>
</div>