<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" (click)="setDocTitle( 'Inicio' )" [routerLink]="['inicio']">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="setDocTitle( 'Usuarios' )" [routerLink]="['usuarios']">Usuarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="setDocTitle( 'Categorías' )" [routerLink]="['categorias']">Categorías</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="setDocTitle( 'Productos' )" [routerLink]="['productos']">Productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="setDocTitle( 'Chat' )" [routerLink]="['chat']">Chat</a>
    </li>
</ul>